<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf8">
    <meta name="description" content="acount">
    <link rel="stylesheet" href="{{url_for('static',filename='account.css')}}">
    <title>account register</title>
  </head>
  <body>
    <form class=""  method="get">
      <!-- action="どこに送るか" -->

      <div align="center">
      <h1>逆評定 in web</h1>
      <p>姓:<input type="text" name="email"></p>
      <p>名:<input type="text" name="email"></p>
      <p>メールアドレス: <input type="text" name="email"></p>
      <p>パスワード: <input type="text" name="email"></p>
      <p>学年: <input type="text" name="email"></p>
      <p>学部: <input type="text" name="email"></p>
      <p>学科/科類: <input type="text" name="email"></p>
    </form>
    <form class="" action="{{url_for('home')}}">
      <p><input type="submit" value="登録"></p>
    </form>
    </div>
  </body>
<html>
