<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='information.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script type="text/javascript" src="../static/filtering.js"></script>

  </head>
  <style type="text/css">
  header{
      background-image: url(static/背景茶色.png);
  }

  center{
      background-image:url(static/背景茶色.png);
  }

  </style>
  <body>
      <header>
          <div class="header_title">
              <h1 class="h_title">逆評定 in web</h1>
          </div>
          <div class="header_list">
              <ul>
                  <li class="h_list"><a href="{{url_for('home')}}"
                      style="text-decoration:none; color:white;">ホーム</a>
                  </li>
                  <li class="h_list" id = "kensaku"><a href="{{url_for('search')}}">検索</a>
                  </li>
                  <li class="h_list"><a href="{{ url_for('point') }}"
                      style="text-decoration:none; color:white;">ポイント交換</a>
                  </li>
              </ul>
          </div>
      </header>

      <div class="container">
          <div class="prof">
              <div class="prof_pic">
                  <img src="{{url_for('static',filename='gakki.jpeg')}}">
              </div>
              <div class="prof_bio">
                  <p>プロフィール:<p>
                  <p>新垣 結衣（あらがき ゆい、1988年6月11日 - ）は、日本の女優、歌手、ファッションモデル。主な愛称は、ガッキー。沖縄県出身。レプロエンタテインメント所属。</p>
              </div>
          </div>
          <div class="lec">
              <div class="lec_sum">
                  <div class="sub_name">
                      <h1>教科：沖縄方言</h1>
                  </div>
                  <div class="sub_value">
                      <h1>総合評価：{{ total_average  }}</h1>
                      <h5>出席：{{atattendance_average}}</h5>
                      <h5>単位：{{credit_average}}</h5>
                      <h5>得点：{{score_average}}</h5>
                  </div>
                  <div class="content">
                      <p>授業概要：</P>
                      <p>ガッキーによって沖縄方言のレクチャーが行われる</p>
                  </div>
              </div>

              <div class="recommend">
                  <h1>おすすめ授業</h1>
                  <h2 class="rmd_atdance">出席基準</h2>

                   <p>
                     <span>
                       <font color="blue">おススメ表示数</font>
                     </span>
                     <form name="display_number_atdance">
                       <select id="display_atdance" class="display_number">
                         <option value=1>1</option>
                         <option value=2>2</option>
                         <option value=3 selected>3</option>
                       </select>
                     </form>
                     <ol id="rmd_atdance"></ol>
                   </p>
                  <h2 class="rmd_tanyi">単位基準</h2>
                    <p>
                      <span>
                        <font color="blue">おススメ表示数</font>
                      </span>
                      <form name="display_number_tanyi">
                        <select id="display_tanyi" class="display_number">
                          <option value=1>1</option>
                          <option value=2>2</option>
                          <option value=3 selected>3</option>
                        </select>
                      </form>
                      <ol id="rmd_tanyi"></ol>
                    </p>
                  <h2 class="rmd_score">得点基準</h2>
                    <p>
                      <span>
                        <font color="blue">おススメ表示数</font>
                      </span>
                      <form name="display_number_score">
                        <select id="display_score" class="display_number">
                          <option value=1>1</option>
                          <option value=2>2</option>
                          <option value=3 selected>3</option>
                        </select>
                      </form>
                      <ol id="rmd_score"></ol>
                    </p>

              </div>

              <div class="review">
                  <h1>評価コメント</h1>
                  {% for review in reviews %}
                  <h5>・{{review.review_comment}}　<span>by</span> {{review.user}}さん</h5>
                  {% endfor %}

              </div>

              <div class='file'>
                  <div class='uploaded_file'>
                      <h1>過去問及びシケプリ</h1>
                      <h5><a href=''>2017年度</a></h5>
                      <h5><a href=''>2016年度</a></h5>

                  </div>
                  <div class='upload_file'>
                      <h4>ファイルをアップロードする</h4>
                      <form method=post　enctype=multipart/form-data>
                          <p><input type=file name=file>
                              <input type=submit value='アップロード'></p>
                    </form>
                  </div>
              </div>

          </div>
      </div>
      <!--cantainer finish-->
      <div class="others">
          <p>この授業を履修している人</p>
          <div class="person">
              {% for review in reviews %}
              <a href="{{url_for('account_1')}}">{{review.user}}さん</a>
              {% endfor %}
          </div>
      </div>

      <div class="to_review">
          <a href="{{ url_for('review')}}">この授業を評価するへ</a>
      </div>

      <footer>

        <div class="advertisement" width=auto height=auto>
          <img src="{{ url_for('static',filename='advertisement_1.png')}}" width="50%" height="100px" class="left">
          <img src="{{ url_for('static',filename='advertisement_2.png')}}" width="50%" height="100px" class="left">
        </div>
        <center>
          <br><br><br><br><br><br><br>
          <font color="white">東京大学のウェブサイトへは<A href="http://www.u-tokyo.ac.jp/"><font color="white">こちらから</font></A></font>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <font color="white">アカウント情報変更は<A href="{{ url_for('account') }}"><font color="white">こちらから</font></A></font>
          <br><br><br>
          <br><br><br>
      </center>
      </footer>
  </body>


</html>
