*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

header{
  background-color: #336666;
  height:90px;
}

h1{
  color:white;
  padding:20px 40px;
  font-size: 36px;
}

.header_title{
  float:left;
}

.header_list li{
  color:white;
  background-color: #006699;
  float:left;
  padding: 33px 20px;
}

#kensaku{
    background-color: #99cccc;
}

.left{
  float: left;
}

.title{
  background-color: #6666cc;
  color:white;
}

.search{
  background-color: #006699;
}

.department{
  color: white;
  font-size: 30px;
}
.detail{
  font-size: 20px;
}

#white{
  color:white;
}

.box{
  height:30%;
  width: 40%;
}

.map{
  margin-left: auto;
  float: right;
}

center{
  background: #336666;
}
