*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

header{
  background-image: url(背景茶色.png);
  height:90px;
}


h1{
  color:black;
  padding:20px 40px;
  font-size: 36px;
  font-family: "SimSun",sans-serif;
}

.header_img{
  float:left;
  padding-left: 20px;
}

.header_title{
  float:left;
}

.user td{
  background-color: #fae6be;
  color:black;
}


#home{
  background-color: #dbf1fc;
}

li{
  color:#5c5c5c;
  background-color: #5c5c5c;
  float:left;
  padding: 33px 20px;
}

table {
  border-collapse: collapse;
  border: solid 2px NavajoWhite;/*表全体を線で囲う*/
}
table th, table td {
  border: dashed 1px Gray;/**/
  /*破線 1px オレンジ*/
}

table th {
  padding: 10px;
  color : white;
  background: #5c5c5c;
}

table td{
  padding:3px 10px;
  color: black;
  background: #dbf1fc;
}

table a{
  color: darkblue
}

#unknown {
  color:red;

}

.left{
  float: left;
}

center{
  background-image: url(背景茶色.png);
}
