*{
  margin: 0;
}*

.h_list{
  list-style: none;
}

header{
  background-image: url(背景茶色.png);
  height:90px;
}


h1{
  color:black;
  padding:20px 40px;
  font-size: 36px;
  font-family: "SimSun",sans-serif;
}

.header_img{
  float:left;
  padding-left: 20px;
}

.header_title{
  float:left;
}

#kensaku{
  background: #dbf1fc;
}

.header_list li{
  color:black;
  background-color: #5c5c5c;
  float:left;
  padding: 33px 20px;
}

.container {
    padding:14px 18px 18px;
    margin:0 auto;
    height:800px;
    background-image: url(mokume.png);
}

.others{
  background: #99ccff;
}

 .to_review{
   background: #99ccff;
 }

.prof {
    width:200px;
    height:800px;
    float:left;
    padding:30px;
}

.prof_pic {
    padding-bottom:20px;
    border-bottom:1px solid #333;
}

center{
  background: #336666;
}


.left{
  float: left;
}

span {
    color:#ff4a4a;
}
