*{
  margin: 0;
}*

.h_list{
  list-style: none;
}

header{
  height:90px;
}

h1{
  color:black;
  padding:20px 40px;
  font-size: 36px;
  font-family: "MS　ゴシック",sans-serif;
}

.header_img{
  float:left;
  padding-left: 20px;
}


.header_title{
  float:left;
}

.header_list li{
  color:black;
  background-color:#5c5c5c;
  float:left;
  padding: 33px 20px;
}

.container {
    padding:14px 18px 18px;
    margin:0 auto;
    height:1000px;
    background: lightyellow;
}

.others{
  background: lightgray;
}

 .to_review{
   background: lightgray;
 }

.prof {
    width:200px;
    height:1000px;
    float:left;
    padding:30px;
}

.prof_pic {
    padding-bottom:20px;
    border-bottom:1px solid #333;
}

.recommend {
    float:left;
}

.review{
    float:left;
    height:1000px;
}


#kensaku{
  background: #dbf1fc;
}

.left{
  float: left;
}

span {
    color:#ff4a4a;
}
