*{
  margin: 0;
}*

.h_list{
  list-style: none;
}

header{
  background-color: #336666;
  height:90px;
}

h1{
  color:white;
  padding:20px 40px;
  font-size: 36px;
}

.header_title{
  float:left;
}

.header_list li{
  color:white;
  background-color: #006699;
  float:left;
  padding: 33px 20px;
}
.class{
  padding:8px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
}

.left{
  float: left;
}

.title{
  background-color: #6666cc;
  color:white;
}

.search{
  background-color: #006699;
}

#point{
  background: #99cccc;
}

center{
  background: #336666;
}
